<h1>New Restaurant Contact Person</h1>

<%= render 'form' %>

<div class="field">
  <%= f.label :company_id %><br>
  <%= f.select :company_id, options_from_collection_for_select(@companies, :id, :name) %>
</div>