<%= render 'shared/restaurants_container'%>
<p id="notice"><%= notice %></p>

<h1><%= t('restaurants.show.restaurant_evals')%></h1>

<%= render 'rest_eval_table', restaurant_evaluations: @restaurant_evaluations %>